.menu,
.news,
.list,
.footer,
.nav,
.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    color: #FBEAFF;
}

.menu {
    background: #845EC2;
}

.news {
    background: #2C73D2;
}

.list {
    background: #0081CF;
}

.footer {
    background: #0089BA;
}

.nav {
    background: #008E9B;
}

.logo {
    background: #008F7A;
}

/* GRID */
body {
    display: grid;
    grid-template-columns: [a] 100px [b] 65fr [c] 35fr [d];
    grid-template-rows: [first] 100px [second] minmax(300px, 1fr) [third] 150px [fourth];
    grid-template-areas:
        "logo menu menu"
        "news list nav"
        "foot foot nav";
    min-height: 100vh;
    margin: 0;
}

.footer {
    grid-area: foot;
}

.logo {
    grid-area: logo;
}

.menu {
    grid-area: menu;
}

.nav {
    grid-area: nav;
}

.list {
    grid-area: list;
}

.news {
    grid-area: news;
}
